html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
    font-family: Calibri;
    font-size: 14px;

    body {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        .instruction {
        }

        .stuffSelectorList {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            background-color: #333;
            height: 100%;
            width: 192px;

            .stuffSelector {
                color: rgba(255, 255, 255, 0.5);
                text-align: right;
                padding: 16px 16px;
                line-height: 20px;
                font-size: 14px;
                width: 160px;
                cursor: pointer;
                border-bottom: 1px solid #313131;
                -moz-transition-duration: 0.1s;
                -o-transition-duration: 0.1s;
                -webkit-transition-duration: 0.1s;
                transition-duration: 0.1s;

                b {
                    font-weight: 400;
                    color: #fff;
                }

                &:hover {
                    background-color: #5b7442;
                }

                &.hover {
                    background-color: #82BB48;
                }
            }

            .hotKey {
                color: rgba(255, 255, 255, 0.5);
                text-align: right;
                padding: 16px 16px;
                line-height: 20px;
                font-size: 14px;
                width: 160px;
                border-bottom: 1px solid #313131;
                background-color:#444;

                b {
                    font-weight: 400;
                    color: #fff;
                }
            }
        }

        .gridPanel-wrap {
            position: relative;
            top: 0;
            left: 0;
            margin-left: 192px;
            height: 100%;
            background-color: #fff;
            overflow: scroll;

            .sensorPanel {
                position: relative;
                margin-top: 20px;
                margin-left: 20px;
                border: 6px solid #ccc;
                z-index: 100;

                .grid {
                    position: absolute;
                    cursor: pointer;
                    z-index: 20;
                    /*&:hover {
                        border: 1px solid #82BB48;
                    }*/
                }

                .box-hover {
                    position: absolute;
                    z-index: 1;
                    background-color: #90ccff;
                }
            }

            .stuffPanel {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 20px;
                margin-left: 20px;
                border: 6px solid #ccc;
                z-index: 20;
                overflow: hidden;

                .stuff {
                    position: absolute;
                    -moz-transform-origin: 8px 8px;
                    -ms-transform-origin: 8px 8px;
                    -o-transform-origin: 8px 8px;
                    -webkit-transform-origin: 8px 8px;
                    transform-origin: 8px 8px;
                    z-index: 10;
                    opacity: 1;
                    background-position: center center;
                    background-repeat:no-repeat;
                    background-size:cover;

                    &._tmp {
                        opacity: 0.5;
                        z-index: 20;
                        background-color: rgba(105, 138, 157, 0.5);

                        &.warning {
                            background-color: #c22e2e;
                        }
                    }

                    &.stuff-1{
                        background-image:url(Images/wall.png);
                        background-position:0 0;
                        background-repeat:repeat;
                        background-size:16px 16px;
                    }

                    &.stuff-2{
                        background-image:url(Images/door.png);
                    }

                    &.stuff-3{
                        background-image:url(Images/table_1.png);
                    }

                    &.stuff-4{
                        background-image:url(Images/table_2.png);
                    }

                    &.stuff-5{
                        background-image:url(Images/table_3.png);
                    }

                    &.stuff-6{
                        background-image:url(Images/table_4.png);
                    }

                    &.stuff-7{
                        background-image:url(Images/Cabinet_1.png);
                    }

                    &.stuff-8{
                        background-image:url(Images/Cabinet_2.png);
                    }

                    &.stuff-9{
                        background-image:url(Images/Cabinet_3.png);
                    }

                    &.stuff-10{
                        background-image:url(Images/chair.png);
                    }
                }
            }

            .gridPanel {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 20px;
                margin-left: 20px;
                border: 6px solid #ccc;
                z-index: 10;
            }
        }
    }
}
