._sceneWrap {
    -moz-transform: scale(0.5,0.5);
    -ms-transform: scale(0.5,0.5);
    -o-transform: scale(0.5,0.5);
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    z-index: 10;
        margin-top: -10px;
        margin-left: -10px;

    ._scene {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        border: 20px solid #222;
        margin-top: -20px;
        margin-left: -20px;
    }
}

._scene_ortho {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    border: 20px solid #222;
    margin-top: -20px;
    margin-left: -20px;

    ._enduranceBarWrap {
        display: block;
        width: 50%;
        height: 14px;
        background-color: #333;
        overflow: hidden;
        position: absolute;
        top: 14px;
        left: 25%;
        margin-left: -2px;
        z-index: 15;

        ._enduranceBar {
            display: block;
            height: 8px;
            margin:3px;
            background-color: #fff;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-transform-origin: left center;
            -ms-transform-origin: left center;
            -o-transform-origin: left center;
            -webkit-transform-origin: left center;
            transform-origin: left center;
            z-index:10;
        }

        &::after{
            display: block;
            content:'';
            width: 100%;
            height: 100%;
            box-shadow:inset 0 0 0 1px #000;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 2px solid #ccc;
            position: absolute;
            top: 0;
            left: 0;
            z-index:20;
        }
    }

    ._edges {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        box-shadow: inset 0 0 50px 10px rgba(75, 0, 0, 0.90);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    ._message {
        display: block;
        width: 80%;
        line-height: 36px;
        font-size: 30px;
        color: #fff;
        text-shadow: 0 0 3px #000;
        overflow: hidden;
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 50;
        text-align: center;
        -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }
}

._scene_effort {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border: 20px solid transparent;
    margin-top: -20px;
    margin-left: -20px;

    ._marker {
        position: absolute;
        display: block;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: contain;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        width: 64px;
        height: 64px;
        opacity: 0.75;
        -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
        margin-top: -16px;
    }
}
