
body {
    background-color: #111;
    width:100%;
    height:100%;
}

._scene {
    ._layer {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
        position: absolute;
        top: 0;
        left: 0;

        &._layer_light {
            z-index: 200;

            ._dark {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(51, 51, 51, 0.6);
            }
        }

        .__item {
            position: absolute;
            display: block;
            background-position: left top;
            background-repeat: no-repeat;
            background-size: contain;
            -moz-transform-origin: center center;
            -ms-transform-origin: center center;
            -o-transform-origin: center center;
            -webkit-transform-origin: center center;
            transform-origin: center center;
        }

        &._layer_pos {
            z-index: 400;

            ._pos {
                .__item;
            }
        }
        &._layer_door {
            z-index: 70;

            ._door {
                .__item;
            }
        }
        &._layer_furniture {
            z-index: 30;

            ._furniture {
                .__item;
            }
        }

        /*&._layer_wallEdge {
            z-index: 90;
        }

        &._layer_wall {
            z-index: 80;
        }

        &._layer_wallShadow {
            z-index: 79;
        }

        &._layer_stuff {
            z-index: 40;
        }


        &._layer_furniture_static {
            z-index: 20;
        }

        &._layer_ground {
            z-index: 10;
        }*/

        &._layer_static_top {
            z-index: 100;
        }
        &._layer_static_btm {
            z-index: 10;
        }
    }
}
